langchain
langchain-groq
langchain-openai
python-dotenv
openai
pypdf
pydantic==1.10.13
tiktoken
bs4
html2text
langchain-community
uvicorn
fastapi
langchain-core
langserve
langchain-pinecone
sse_starlette
pymongo
langchain-mongodb
hypercorn
apscheduler
python-jose
python-multipart
bcrypt
passlib
pypdf2
sqlalchemy
twilio
llama-parse